{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/1.css" />
{% endblock %}
{% block content %}
<h1 class="log">Works log</h1><br>
{% for job in jobs_list %}
    <h3>Action #{{ job.id }}</h3>
    <table border="1" cellpadding="20px">
        <tr>
            <th bgcolor="gray">Title of activity</th>
            <th bgcolor="gray">Team leader</th>
            <th bgcolor="gray">Duration</th>
            <th bgcolor="gray">List of collaborators</th>
            <th bgcolor="gray">Is finished</th>
        </tr>
        <tr>
            <td>{{ job.job }}</td>
            <td>{{ job.team_leader }}</td>
            <td>{{ job.work_size }}</td>
            <td>{{ job.collaborators }}</td>
            {% if job.is_finished == False %}
                <td>Is not finished</td>
            {% else %}
                <td>Finished</td>
            {% endif %}
        </tr>
    </table>
{% endfor %}
{% endblock %}