{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/1.css" />
{% endblock %}
{% block content %}
<h1 class="log">Works log</h1><br>
{% for job in jobs_list %}
    <h3>Action #{{ job.id }}</h3>
    <table border="1" cellpadding="20px">
        <tr>
            <th bgcolor="bfbebb">Title of activity</th>
            <th bgcolor="bfbebb">Team leader</th>
            <th bgcolor="bfbebb">Duration</th>
            <th bgcolor="bfbebb">List of collaborators</th>
            <th bgcolor="bfbebb">Is finished</th>
        </tr>
        <tr>
            <td bgcolor="BFCFDD">{{ job.job }}</td>
            <td bgcolor="BFCFDD">{{ job.team_leader }}</td>
            <td bgcolor="BFCFDD">{{ job.work_size }}</td>
            <td bgcolor="BFCFDD">{{ job.collaborators }}</td>
            {% if job.is_finished == False %}
                <td bgcolor="e3c1d7">Is not finished</td>
            {% else %}
                <td bgcolor="82ed61">Finished</td>
            {% endif %}
        </tr>
    </table>
{% endfor %}
{% endblock %}